<div class="container">
  <form
    [formGroup]="newProjectForm"
    (ngSubmit)="onSubmit(newProjectForm.value)"
  >
    <mat-card>
      <mat-card-title>New Project</mat-card-title>
      <mat-card-subtitle>Enter project details</mat-card-subtitle>
      <mat-card-content class="fields">
        <mat-form-field>
          <mat-label>Project Name</mat-label>
          <input formControlName="project_name" matInput />
          <mat-error *ngIf="newProjectForm.controls.project_name.invalid"
            >Required</mat-error
          >
        </mat-form-field>
        <mat-form-field>
          <mat-label>Project Description</mat-label>
          <textarea formControlName="description" matInput></textarea>
          <mat-error *ngIf="newProjectForm.controls.description.invalid"
            >Required</mat-error
          >
        </mat-form-field>
        <mat-form-field>
          <mat-label>Enter a start and target date</mat-label>
          <mat-error *ngIf="newProjectForm.controls.start_date.errors?.required"
            >Required</mat-error
          >
          <mat-error
            *ngIf="
              newProjectForm.controls.start_date.value &&
              newProjectForm.controls.target_date.errors?.required
            "
            >Enter second date</mat-error
          >
          <mat-date-range-input [rangePicker]="picker">
            <input
              matStartDate
              formControlName="start_date"
              placeholder="Start date"
            />
            <input
              matEndDate
              formControlName="target_date"
              placeholder="Target date"
            />
          </mat-date-range-input>
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button
          mat-raised-button
          type="submit"
          [disabled]="!newProjectForm.valid"
        >
          Create
        </button>
        <button
          mat-raised-button
          type="reset"
          (click)="outputCancelNewProject()"
        >
          Cancel
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
