.container {
  position: absolute;
  top: 40px; /* Header Height */
  bottom: 20px; /* Footer Height */
  width: 100%;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  flex-direction: column;
}

.fields {
  display: flex;
  flex-direction: column;
}
