<mat-card class="card">
  <div class="color-change" (click)="routeToProject()">
    <mat-card-title *ngIf="!edit">{{ project.project_name }}</mat-card-title>
    <mat-card-content *ngIf="!edit" class="content">
      <div>{{ project.description }}</div>
      <div>Start date: {{ getStartDate() }}</div>
      <div>Target date: {{ getTargetDate() }}</div>
    </mat-card-content>
  </div>

  <!-- Form card content -->
  <mat-card-content *ngIf="edit">
    <div>
      <form [formGroup]="editProjectForm" class="container">
        <mat-form-field class="form-item">
          <mat-label>Project Name</mat-label>
          <input formControlName="project_name" matInput />
          <mat-error *ngIf="editProjectForm.controls.project_name.invalid"
            >Required</mat-error
          >
        </mat-form-field>
        <mat-form-field class="form-item">
          <mat-label>Project Description</mat-label>
          <textarea formControlName="description" matInput></textarea>
          <mat-error *ngIf="editProjectForm.controls.description.invalid"
            >Required</mat-error
          >
        </mat-form-field>
        <mat-form-field class="form-item">
          <mat-label>Enter a start and target date</mat-label>
          <mat-error
            *ngIf="editProjectForm.controls.start_date.errors?.required"
            >Required</mat-error
          >
          <mat-error
            *ngIf="
              editProjectForm.controls.start_date.value &&
              editProjectForm.controls.target_date.errors?.required
            "
            >Enter second date</mat-error
          >
          <mat-date-range-input [rangePicker]="picker">
            <input
              matStartDate
              formControlName="start_date"
              placeholder="Start date"
            />
            <input
              matEndDate
              formControlName="target_date"
              placeholder="Target date"
            />
          </mat-date-range-input>
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      </form>
    </div>
  </mat-card-content>

  <mat-card-actions class="flex">
    <button
      mat-raised-button
      *ngIf="!edit"
      color="primary"
      (click)="onEditClick()"
    >
      Edit
    </button>
    <button mat-raised-button *ngIf="edit" (click)="onCancelClick()">
      Cancel
    </button>
    <button
      class="save"
      mat-raised-button
      *ngIf="edit"
      color="primary"
      (click)="onSaveClick(editProjectForm.value)"
    >
      Save
    </button>
    <button
      class="delete"
      mat-raised-button
      *ngIf="edit"
      (click)="onDeleteClick()"
      color="warn"
    >
      <mat-icon>delete_outline</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
