.card {
  width: 100%;
  padding: 20px;
  padding-bottom: 28px;
  cursor: auto;
}

.color-change {
  transition: 0.3s;
  padding-bottom: 5px;
  padding-top: 5px;
}

.color-change:hover {
  background-color: rgb(235, 235, 235);
  border-radius: 5px;
  padding-left: 15px;
  cursor: pointer;
}

.content {
  margin-bottom: 10px;
}

.delete {
  align-items: right;
  margin-left: auto;
}

.save {
  color: rgb(255, 255, 255);
  align-content: left;
  margin-left: 10px;
}

.flex {
  display: flex;
  margin-left: 0px;
  margin-bottom: 0;
}

.container {
  display: flex;
  align-items: left;
  flex-direction: column;
}

.form-item {
  width: fit-content;
}
