.section {
  margin-top: 20px;
  margin-right: 20px;
}

.card {
  background-color: #3f51b5;
  color: white;
  width: 300px;
}

.inline {
  display: inline-block;
}

.right {
  float: right;
  margin: 0;
}

.subtitle {
  color: rgb(156, 156, 156);
}

.delete {
  float: right;
}

.edit-card {
  margin-top: 20px;
}

.buttons {
  margin-bottom: 8px;
  margin-left: 8px;
}

.add-icon {
  color: #283593;
  float: right;
  font-size: 30px;
}
.cancel-icon {
  color: #969696;
  font-size: 30px;
  float: right;
}

/*Drag and drop styles*/
.task-list {
  min-height: 50px;
}

.task-div {
  display: flex;
  flex-direction: column;
}

.task {
  width: 100%;
}

/*.cdk-drag-preview {
  box-sizing: border-box;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}*/

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.box:last-child {
  border: none;
}

.list.cdk-drop-list-dragging .box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
