<div class="section">
  <mat-card class="card">
    <div>
      <span class="inline">
        <mat-card-title *ngIf="!edit">{{ section.heading }} </mat-card-title>
      </span>
      <span class="inline right">
        <ng-content></ng-content>
      </span>
    </div>
    <mat-card-subtitle class="subtitle" *ngIf="!edit">{{
      section.description
    }}</mat-card-subtitle>

    <!-- Form card content -->
    <mat-card *ngIf="edit" class="edit-card">
      <mat-card-content>
        <div>
          <form [formGroup]="editSectionForm" class="container">
            <mat-form-field class="form-item">
              <mat-label>Section heading</mat-label>
              <input formControlName="heading" matInput />
            </mat-form-field>
            <mat-form-field class="form-item">
              <mat-label>Section description</mat-label>
              <textarea formControlName="description" matInput></textarea>
            </mat-form-field>
          </form>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <div class="buttons">
          <button mat-raised-button (click)="onCancelClick()" *ngIf="edit">
            Cancel
          </button>
          <button
            mat-raised-button
            (click)="onSaveClick(editSectionForm.value)"
            *ngIf="edit"
            color="primary"
            [disabled]="!editSectionForm.valid"
          >
            Save
          </button>
          <button
            class="delete"
            mat-raised-button
            *ngIf="edit"
            (click)="onDeleteClick()"
            color="warn"
          >
            <mat-icon>delete_outline</mat-icon>
          </button>
        </div>
      </mat-card-actions>
    </mat-card>

    <!--Tasks-->
    <mat-card-content *ngIf="!edit">
      <!--Task cards-->
      <div
        cdkDropList
        id="{{ section.id }}"
        (cdkDropListDropped)="reorderTasks($event)"
        class="task-list"
      >
        <div class="task-div" *ngFor="let task of tasks">
          <app-task
            class="task"
            [task]="task"
            [sectionId]="section.id"
            (tasksOutput)="updateTasks($event)"
            cdkDrag
          ></app-task>
        </div>
      </div>

      <!--Add task form card-->
      <mat-card *ngIf="addTask">
        <mat-card-content>
          <!--Form stuff-->
          <form [formGroup]="addTaskForm">
            <mat-form-field>
              <mat-label>Task heading</mat-label>
              <input matInput formControlName="heading" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Task description</mat-label>
              <input matInput formControlName="description" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Start Date</mat-label>
              <input
                formControlName="start_date"
                matInput
                [matDatepicker]="picker"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Target Date</mat-label>
              <input
                formControlName="target_date"
                matInput
                [matDatepicker]="picker2"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker2"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <div class="buttons">
            <button
              mat-raised-button
              color="primary"
              [disabled]="!addTaskForm.valid"
              (click)="onSaveTaskClick(addTaskForm.value)"
            >
              Add
            </button>
            <button
              class="cancel-icon"
              mat-icon-button
              (click)="onCancelTaskClick()"
            >
              <mat-icon [inline]="true">clear</mat-icon>
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
    </mat-card-content>

    <mat-card-actions>
      <div class="buttons">
        <button mat-raised-button (click)="onEditClick()" *ngIf="!edit">
          Edit
        </button>
        <button
          class="add-icon"
          mat-icon-button
          *ngIf="!edit"
          (click)="onAddTaskClick()"
        >
          <mat-icon [inline]="true">add_box</mat-icon>
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
